@model IEnumerable<App.Web.ViewModels.UserViewModel>

@{
	ViewData["Title"] = "Index";
	int i = 0, j = 0;
}
<h1 class="text-center">List of Accounts</h1>

<div class=" d-flex justify-content-between mx-auto w-50">
<a class="btn btn-primary mw" asp-area="Admin" asp-controller="Account" asp-action="Create" id="add-button"><i class="fa fa-plus-square-o"></i> Create account</a>
<a class="btn btn-primary btn-sm mw-420 " asp-area="Admin" asp-controller="Account" asp-action="Create" id="add-button"><i class="fa fa-plus-square-o"></i> Create account</a>
<a class="btn btn-danger mw" asp-area="Admin" asp-controller="Account" asp-action="ResetPwd" id="reset-pwd-button">Reset Password</a>
<a class="btn btn-danger btn-sm mw-420" asp-area="Admin" asp-controller="Account" asp-action="ResetPwd" id="reset-pwd-button">Reset Password</a>
</div>
<div>
	<div class="container-fluid d-flex justify-content-center align-items-center h-100">
		<div class="table-responsive-lg">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Username</th>
						<th scope="col">Full Name</th>
						<th scope="col">Roles</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var user in Model)
					{
						{ i++; j++; }
						<tr>
							<th scope="row">@i</th>
							<td class="truncate-email text-truncate">@user.UserName</td>
							<td class="text-nowrap">@user.FullName</td>
							<td class="text-nowrap">@string.Join(", ", user.Roles)</td>
							<td class="dropdown">
								<button class="btn btn-primary dropdown-toggle mw" type="button" id="actions-dropdown-@j" data-bs-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">
									Actions
								</button>
								<button class="btn btn-primary dropdown-toggle mw-420" type="button" id="actions-dropdown-@i" data-bs-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"></button>
								<div class="dropdown-menu dropdown-menu-end bg-light" aria-labelledby="actions-dropdown-@j">
									<a class="dropdown-item text-success" asp-area="Admin" asp-controller="Account" asp-action="Update" asp-route-id="@user.Id">
										Edit
									</a>
									<a class="dropdown-item text-danger" asp-area="Admin" asp-controller="Account" asp-action="Delete" asp-route-id="@user.Id">
										Delete
									</a>
									<a class="dropdown-item text-danger" asp-area="Admin" asp-controller="Account" asp-action="ResetPwd" asp-route-id="@user.Id">
										Reset Password
									</a>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>