@model WebApp.ViewModels.ForumViewModel

@{
    ViewData["Title"] = "Forum";
}

<div class="row">
    <div class="col-lg-3">
        <a asp-action="Create" asp-controller="Forum" class="btn btn-primary">Create New Idea</a>
        <hr />
        <div class="list-group list-group-flush">
            <a id="cid-null" class="list-group-item" asp-action="Index">All ideas</a>
            @foreach (var category in Model.Categories)
            {
                <a id="cid-@category.Id" class="list-group-item" asp-action="Index" asp-route-cid="@category.Id">@category.Name</a>
            }
        </div>
    </div>

    <div class="col-lg-9">
        @foreach (var idea in Model.Ideas)
        {
            <div class="card mb-3">
                <div class="card-header">
                    <a asp-action="Index" asp-route-cid="@idea.CategoryId">@idea.Category.Name</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => idea.Title)
                    </h5>
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => idea.Content)
                    </p>
                </div>
                <div class="card-footer">
                    <span>Comment: 1</span>
                    <button class="btn btn-primary">
                        <i class="fa-solid fa-user"></i>
                        Thumb Up
                    </button>
                    <button class="btn btn-danger">Thumb Down</button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
<script type='text/javascript'>
    const params = new URLSearchParams(window.location.search);

    const category = "#cid-" + params.get("cid");

    $(category).addClass("active");
</script>
}