@model IEnumerable<WebApp.Models.Idea>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    <input type="button" value="Create" onclick="location.href='@Url.Action("Create")'" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
        </tr>
}
    </tbody>
</table>
