@model IEnumerable<WebApp.Models.Idea>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    <button type="button" class="btn btn-primary"><a asp-area="Views" asp-controller="Forum" asp-action="Create" id="add-button"><i class="fa fa-plus-square-o"></i> Createt new idea </a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
        </tr>
}
    </tbody>
</table>
