@using WebApp.Data
@model IEnumerable<WebApp.ViewModels.StatisticalAnalysisViewModel>

@{
	ViewData["Title"] = "Index";
	int i = 0, j = 0;
}

<h1>Statistical Analysis Page</h1>
<div>
	<div class="container-fluid d-flex justify-content-center align-items-center h-100">
		<div class="form-input p-3 text-center py-4">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Username</th>
						@if (User.IsInRole(Role.Manager))
						{
							<th scope="col">Department</th>
						}
						<th scope="col">Idea</th>
						<th scope="col">React</th>
						<th scope="col">Comment</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var user in Model)
					{
						{ i++; j++; }
						<tr>
							<th scope="row">@i</th>
							<td>@user.Email</td>
							@if (User.IsInRole(Role.Manager))
							{
								<td>@user.DepartmentName</td>
							}
							<td>@user.ideaCount</td>
							<td>@user.reactCount</td>
							<td>@user.commentCount</td>
							<td>
								<button class="btn btn-primary" type="button" onclick="location.href='mailto:@user.Email';">Send Mail</button>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>