@model IEnumerable<WebApp.Models.Category>


@{
    ViewData["Title"] = "Index";
}
<head>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/fortawesome/fontawesome-free/css/all.min.css" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body>
<h1>Index Page</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create" class="text-white text-decoration-none"><i class="fas fa-plus"></i> Create New</a>
</p>
<table class="table">
    <thead>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalDueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td  class="text-truncate col-2" style="max-width: 400px;">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalDueDate)
            </td>
            <td>
                <a class="btn btn-outline-warning btn-sm text-black text-decoration-none" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-outline-success btn-sm text-black text-decoration-none" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-outline-danger btn-sm text-black text-decoration-none" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
