@model IEnumerable<WebApp.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index Page</h1>

<p>
    <button class="btn btn-outline-primary"><a asp-action="Create" class="text-white text-decoration-none"><i class="fas fa-plus"></i> Create New</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <button class="btn btn-warning btn-sm"><a class="text-white text-decoration-none" asp-action="Edit" asp-route-id="@item.Id">Edit</a></button>
                <button class="btn btn-success btn-sm"><a class="text-white text-decoration-none" asp-action="Details" asp-route-id="@item.Id">Details</a></button> |
                <button class="btn btn-danger btn-sm"><a class="text-white text-decoration-none" asp-action="Delete" asp-route-id="@item.Id">Delete</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
