@model WebApp.Models.Idea

@{
    ViewData["Title"] = "Idea";
    //Layout = "~/Views/Shared/_ForumLayout.cshtml";
    string permission = User.IsInRole(WebApp.Data.Role.Staff) ? "true" : "false";
}

<a asp-controller="Home" asp-action="Index" class="btn btn-success mb-2">Home</a>

<div class="card mb-3" id="idea-@Model.Id">
    <div class="card-body">
        <h5 class="card-title">
            @Html.DisplayFor(modelItem => Model.Title)
        </h5>
        <p class="card-text">
            @Html.DisplayFor(modelItem => Model.Content)
        </p>
    </div>
    <div class="card-footer">
        <div class="row">

            <div class="col-sm d-inline-flex justify-content-end align-items-center">
                <div class="px-2">
                    <i class="fa-solid fa-user"></i>@Model.User?.Email
                </div>

                <div class="px-2">
                    <i class="fa-solid fa-comments"></i>
                    <span id="countcomment">@Model.NumComment</span>
                </div>

                <div class="px-2">
                    <i class="fa-solid fa-eye"></i>
                    <span id="countview">@Model.NumView</span>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <h5 class="h5">List of previous comments</h5>
        <ul id="commentsList">
            @if (Model.Comments == null)
            {
                <li class="text-danger">Comments isn't loaded</li>
            }
            else foreach (var cmt in Model.Comments)
                {
                    <li class="card mb-1">
                        <div class="card-body bg-light">
                            <p>"@cmt.Content"</p>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <span class="fst-italic">Written by &nbsp;</span><i class="fa-solid fa-user"></i>
                                    <p class="small mb-0 ms-2"><b>@(cmt.User?.UserName ?? "Deleted_User")</b></p>
                                </div>
                            </div>
                        </div>
                    </li>
					<td>
					<button class="btn btn-sm btn-white fz-body text-danger rounded-3 px-2" 
					data-bs-toggle="modal" data-bs-target="#confirmationModal">
						<a class="fa-solid fa-trash" asp-controller="commentCoordinator" asp-action="Delete" asp-route-id="@cmt.Id">Remove this Comment </a>
					</button>
					</td>
                }
        </ul>
    </div>
</div>

@section Scripts{
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/staff_idea_interact.js"></script>
<script type="text/javascript">  
    const ideaId = @Model.Id;
    userInteractIdea(ideaId);
</script>
}