@using WebApp.Data
@model WebApp.ViewModels.ForumViewModel

@{
    ViewData["Title"] = "Forum";
    Layout = "_ForumLayout";
}

@section Aside{
<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid flex-md-column">
        <div class="d-sm-flex d-md-block">
            <div class="nav-item pb-2 pe-2">
                <a asp-action="Create" asp-controller="Idea" asp-area="Forum" class="btn btn-outline-primary">
                    <span>Add New Idea</span>
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
            <div class="nav-item pb-2">
                <a id="cid-" class="btn btn-outline-primary" asp-action="Index" asp-route-sort="@Model.Sort">All ideas</a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarleft"
                aria-controls="navbarleft" aria-expanded="false" aria-label="Toggle navigation">
            Category <span class="navbar-toggler-icon"></span>
        </button>
        <aside class="collapse navbar-collapse mt-3" id="navbarleft">
            <ul class="navbar-nav nav-pills flex-column">
                @foreach (var category in Model.Categories)
                {
                <li class="nav-item">
                    <a id="cid-@category.Id" class="nav-link" asp-action="Index" asp-route-cid="@category.Id" asp-route-sort="@Model.Sort">@category.Name</a>
                </li>
                }
            </ul>
        </aside>
    </div>
</nav>
}

@if (Model.CategoryId != null)
{
    var category = Model.Categories.First(c => c.Id == Model.CategoryId);

    <div class="card mb-2 text-white bg-success text-center">
        <div class="card-body">
            <h5 class="card-title">
                @category.Name
            </h5>
            <h6 class="card-subtitle">
                <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Deadline for new idea">
                    Due date: @(category.DueDate.HasValue ? category.DueDate : "none")
                </span>
                |
                <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Deadline for new idea's comment">
                    Final due date: @(category.FinalDueDate.HasValue ? category.FinalDueDate : "none")
                </span>
            </h6>
            <p class="card-text pt-2">@(category.Description)</p>
        </div>
    </div>
}

@if (Model.Ideas.Count != 0)
{
    <nav class="pb-2">
        <form asp-action="Index" method="get" id="sort-form">
            <input id="cid" name="cid" value="@Model.CategoryId" type="hidden" />
            <div class="d-inline-flex">
                <select class="form-select" aria-label="Select to sort by" asp-for="Sort">
                    <option value="lastest">Lastest</option>
                    <option value="popular">Popular</option>
                    <option value="topview">Top View</option>
                </select>
                <a type="reset" class="btn btn-danger" asp-action="Index" asp-route-cid="@Model.CategoryId">Reset</a>
            </div>
        </form>
    </nav>

    foreach (var idea in Model.Ideas)
    {
        <div class="card mb-3">
            <div class="card-header">
                <a class="text-decoration-none" asp-action="Index" asp-route-cid="@idea.CategoryId" asp-route-sort="@Model.Sort">@idea.Category?.Name</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <a class="text-decoration-none" asp-controller="Idea" asp-action="Index" asp-route-id="@idea.Id">
                        @Html.DisplayFor(modelItem => idea.Title)
                    </a>
                </h5>
                <p class="card-text">
                    @Html.DisplayFor(modelItem => idea.Content)
                </p>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    <span class="px-2">
                        <i class="fa-solid fa-user"></i> @(!idea.IsIncognito ? idea.User!.UserName : "Anonymous user") @(User.Identity?.Name == idea.User?.UserName ? "(Me)" : "")
                    </span>
                    <span class="px-2">
                        <i class="fa-regular fa-comments"></i> @idea.NumComment
                    </span>
                    <span class="px-2">
                        <i class="fa-solid fa-eye"></i> @idea.NumView
                    </span>
                    <span class="px-2">
                        <i class="fa-regular fa-thumbs-up"></i> @idea.ThumbUp
                    </span>
                    <span class="px-2">
                        <i class="fa-regular fa-thumbs-down"></i> @idea.ThumbDown
                    </span>
                </div>
            </div>
            <div class="container-fluid rounded-3 border-primary border-3 bg-white">
                @if (idea.Comments.Count != 0)
                {
                    <h6>Last comments</h6>
                    foreach (var cmt in idea.Comments)
                    {
                        <div class="#">
                            <b>"@cmt.Content" </b> by
                            <b>@(cmt.User.UserName ?? "Deleted_User")</b>
                        </div>
                    }
                }
            </div>
        </div>
    }

    var prevDisabled = !Model.Ideas.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Ideas.HasNextPage ? "disabled" : "";

    <div aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item @prevDisabled">
                <a class="page-link" asp-route-page="@(Model.Page - 1)" asp-route-cid="@Model.CategoryId" asp-route-sort="@Model.Sort">Previous</a>
            </li>
            <li class="page-item @nextDisabled">
                <a class="page-link" asp-route-page="@(Model.Page + 1)" asp-route-cid="@Model.CategoryId" asp-route-sort="@Model.Sort">Next</a>
            </li>
        </ul>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        This category has no idea or is on the wrong page number.
    </div>
}

@section Scripts{
<partial name="_ValidationScriptsPartial" />

<script type='text/javascript'>
    $('#sort-form').change(function(event) {
       document.forms['sort-form'].submit();
    });

    //$('#page').sumbit()
</script>
}