@using WebApp.Data
@model ForumViewModel

@{
    ViewData["Title"] = "Forum";
    Layout = "_ForumLayout";
}

@section Aside{
<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid flex-md-column">
        <div class="d-sm-flex d-md-block">
            <div class="nav-item pb-2 pe-2">
                <a asp-action="Create" asp-controller="Idea" asp-area="Forum" class="btn btn-outline-primary">
                    <span>Add New Idea</span>
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
            <div class="nav-item pb-2">
                <a id="cid-" class="btn btn-outline-primary" asp-action="Index"
                   asp-route-order="@Model.Search.Order"
                   asp-route-DpmtId="@Model.Search.DepartmentId">
                    All ideas
                </a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarleft"
                aria-controls="navbarleft" aria-expanded="false" aria-label="Toggle navigation">
            Category <span class="navbar-toggler-icon"></span>
        </button>
        <aside class="collapse navbar-collapse mt-3" id="navbarleft">
            <ul class="navbar-nav nav-pills flex-column">
                @foreach (var category in Model.Search.Categories)
                {
                <li class="nav-item">
                    <a id="cid-@category.Id" class="nav-link" asp-action="Index"
                       asp-route-cid="@category.Id"
                       asp-route-order="@Model.Search.Order"
                       asp-route-DpmtId="@Model.Search.DepartmentId">
                        @category.Name
                    </a>
                </li>
                }
            </ul>
        </aside>
    </div>
</nav>
}

@if (Model.Category != null)
{

    <div class="card mb-2 text-white bg-success text-center">
        <partial name="_CardCategory" for="Category" />
    </div>
}

<nav class="pb-2">
    <form asp-action="Index" method="get" id="sort-form">
        <input type="hidden" asp-for="Search.CategoryId" name="cid" />
        <div class="d-flex flex-row align-items-center">
            <div class="me-2">
                <select class="form-select" asp-for="Search.Order" name="order" aria-label="Select to sort order">
                    <option value="lastest">Lastest</option>
                    <option value="popular">Popular</option>
                    <option value="topview">Top View</option>
                </select>
            </div>
            @if (User.IsInRole(Role.Manager) || User.IsInRole(Role.Coordinator))
            {
                <div class="me-2">
                    <select class="form-select" aria-label="Select department"
                        asp-for="Search.DepartmentId" name="dpmtId"
                        asp-items="Model.Search.Departments">
                    </select>
                </div>
            }
            <a class="btn btn-danger" asp-action="Index" asp-route-cid="@Model.Search.CategoryId">Reset</a>
        </div>
    </form>
</nav>

@if (Model.Ideas.Count != 0)
{
    foreach (var idea in Model.Ideas)
    {
        <div class="card mb-3">
            <div class="card-header">
                <a class="text-decoration-none" asp-action="Index" asp-route-cid="@idea.CategoryId" asp-route-order="@Model.Search.Order">@idea.Category?.Name</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <a class="text-decoration-none" asp-controller="Idea" asp-action="Index" asp-route-id="@idea.Id">
                        @Html.DisplayFor(modelItem => idea.Title)
                    </a>
                </h5>
                <p class="card-text">
                    @Html.DisplayFor(modelItem => idea.Content)
                </p>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    @if (User.IsInRole(Role.Coordinator) && Model.User.DepartmentId == idea.User?.DepartmentId)
                    {
                        <a class="btn btn-sm btn-white text-danger rounded-3 px-2" asp-controller="Idea" asp-action="Delete" asp-route-id="@idea.Id">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    }
                    <span class="px-2">
                        @if (User.IsInRole(Role.Staff))
                        {
                            <i class="fa-solid fa-user"></i> @(!idea.IsIncognito ? idea.User!.UserName : "Anonymous user") @(User.Identity?.Name == idea.User?.UserName ? "(Me)" : "")
                        }
                        else
                        {
                            <i class="fa-solid fa-user"></i> @(idea.User!.UserName)
                        }
                    </span>
                    <span class="px-2">
                        <i class="fa-regular fa-comments"></i> @idea.NumComment
                    </span>
                    <span class="px-2">
                        <i class="fa-solid fa-eye"></i> @idea.NumView
                    </span>
                    <span class="px-2">
                        <i class="fa-regular fa-thumbs-up"></i> @idea.ThumbUp
                    </span>
                    <span class="px-2">
                        <i class="fa-regular fa-thumbs-down"></i> @idea.ThumbDown
                    </span>
                </div>
            </div>
            <div class="container-fluid rounded-3 border-primary border-3 bg-white">
                @if (idea.Comments.Count != 0)
                {
                    <h6>Last comments</h6>
                    foreach (var cmt in idea.Comments)
                    {
                        <div class="#">
                            <b>"@cmt.Content" </b> by
                            <b>@(cmt.User?.UserName ?? "Deleted_User")</b>
                        </div>
                    }
                }
            </div>
        </div>
    }

    var prevDisabled = !Model.Ideas.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Ideas.HasNextPage ? "disabled" : "";

    <div aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item @prevDisabled">
                <a class="page-link"
               asp-route-cid="@Model.Search.CategoryId"
               asp-route-order="@Model.Search.Order"
               asp-route-DpmtId="@Model.Search.DepartmentId"
               asp-route-page="@(Model.Search.Page - 1)">
                    Previous
                </a>
            </li>
            <li class="page-item @nextDisabled">
                <a class="page-link"
               asp-route-cid="@Model.Search.CategoryId"
               asp-route-order="@Model.Search.Order"
               asp-route-DpmtId="@Model.Search.DepartmentId"
               asp-route-page="@(Model.Search.Page + 1)">
                    Next
                </a>
            </li>
        </ul>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        No idea.
    </div>
}

@section Scripts{
<partial name="_ValidationScriptsPartial" />

<script type='text/javascript'>
    $('#sort-form').change(function(event) {
       document.forms['sort-form'].submit();
    });

    const category = '#cid-' + "@Model.Category?.Id";
    $(category).addClass("active");
</script>
}