@model WebApp.ViewModels.ForumViewModel

@{
    ViewData["Title"] = "Forum";
    Layout = "_ForumLayout";
}

@foreach (var idea in Model.Ideas)
{
    <div class="card mb-3">
        <div class="card-header">
            <a class="text-decoration-none" asp-action="Index" asp-route-cid="@idea.CategoryId">@idea.Category.Name</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <a class="text-decoration-none" asp-controller="Idea" asp-action="Index" asp-route-id="@idea.Id">
                    @Html.DisplayFor(modelItem => idea.Title)
                </a>
            </h5>
            <p class="card-text">
                @Html.DisplayFor(modelItem => idea.Content)
            </p>
        </div>
        <div class="card-footer d-inline-flex justify-content-end">
            <span class="px-2">
                <i class="fa-solid fa-user"></i>@idea.User.Email
            </span>
            <span class="px-2">
                <i class="fa-regular fa-comments"></i> 0
            </span>
            <span class="px-2">
                <i class="fa-regular fa-thumbs-up"></i> @idea.ThumbUp
            </span>
            <span class="px-2">
                <i class="fa-regular fa-thumbs-down"></i> @idea.ThumbDown
            </span>
        </div>
    </div>
}

@section Scripts{
<script type='text/javascript'>
    function reactIdea(IdeaId, react)
    {

    }
</script>
}